@font-face {
    font-display: swap;
    font-family: "Inter";
    src: local("Inter-Variable"),
        url("./Inter-Variable.woff2") format("woff2 supports variations"),
        url("./Inter-Variable.woff2") format("woff2-variations");
    font-weight: 400 785;
}

@font-face {
    font-family: "PressStart";
    src: url(./PressStart2P-Regular.woff) format("woff");
    font-weight: normal;
    font-display: swap;
}
