/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes choosenMenuItem {
    form {
        transform: translateX(-4px);
    }

    to {
        transform: translateX(4px);
    }
}

@keyframes heartGrow {
    form {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes sparksDrop{
    from{
        fill: var(--bg-color);
    }

    to {
        fill: var(--heart-body-color);
    }
}

/* АНИМАЦИЯ СЕРДЦА */
.like-icon.is-liked {
    animation: heartGrow 0.3s ease-in 0.1s 2 alternate;
}

.like-icon .main-body {
    fill: var(--bg-color);
    transition: all 0.3s 0.05s linear;
}

.like-icon .core {
    transition: all 0.3s linear;
    fill: var(--bg-color);
}

.like-icon .contour {
    transition: all 0.3s 0.06s linear;
    fill: var(--heart-contour-color);
}

.like-icon:hover .main-body {
    fill: var(--heart-contour-color);
}

.like-icon:hover .core {
    fill: var(--heart-contour-color);
}

.like-icon:active .main-body {
    fill: var(--heart-body-color);
}

.like-icon:active .core {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .core {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .main-body {
    fill: var(--heart-body-color);
}

.like-icon.is-liked .contour {
    fill: var(--heart-body-color);
}

.sparks {
    fill: var(--bg-color);
}

.like-icon.is-liked .sparks {
    animation: sparksDrop 0.3s ease-in 0.3s 2 alternate;
}
