:root.theme-light {
    --font-title-weight: 700;
    --font-text-weight: 400;
    --bg-color: #fff;
    --main-color: #000;
    --bg-image: repeating-linear-gradient(
            to right,
            #d3d3d3 0 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --heart-contour-color: #000;
    --heart-hover-color: #000;
    --heart-body-color: #ff0000;
}

:root.theme-dark {
    --font-title-weight: 785;
    --font-text-weight: 465;
    --bg-color: #000000;
    --main-color: #00cc14;
    --bg-image: repeating-linear-gradient(
            to right,
            #000 0 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(to bottom, transparent 0 2px, #000 2px 4px),
        linear-gradient(#007f0c, #004306);
    --heart-contour-color: #00cc14;
    --heart-hover-color: #000;
    --heart-body-color: #ff0000;
    .button__text {
        color: var(--main-color);
    }
    .save__button-icon {
        color: var(--main-color);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-title-weight: 785;
        --font-text-weight: 465;
        --bg-color: #000000;
        --main-color: #00cc14;
        --bg-image: repeating-linear-gradient(
                to right,
                #000 0 2px,
                transparent 2px 4px
            ),
            repeating-linear-gradient(
                to bottom,
                transparent 0 2px,
                #000 2px 4px
            ),
            linear-gradient(#007f0c, #004306);
        --heart-contour-color: #00cc14;
        --heart-hover-color: #000;
        --heart-body-color: #ff0000;
    }
    :root.theme-auto{
        .button__text {
            color: var(--main-color);
        }
        .save__button-icon {
            color: var(--main-color);
        }
    }
}
